<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Intro to Web Framework</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</head>
<body>
<div class="container page-header">
    <h1>📝 My Django Blog
        <small> - By Henry He</small>
    </h1>
</div>
<div class="container page-body">
    <div class="row">
    <div class="col-md-9" role="main">
        <div class="body-main">
            <div>
                <h2>Article Title 1</h2>
                <p>
                    From debugging at 2 a.m. to pushing production fixes before deadlines, coffee has silently powered generations of developers. In this article, we explore the history, habits, and humorous truths behind the world's most consumed beverage in tech circles.
                </p>
            </div>
            <div>
                <h2>Article Title 2</h2>
                <p>
                    I had no prior web development experience, but thanks to Django's "batteries-included" philosophy, I was able to create a simple blog in just one day. Here’s what I learned, what I broke, and what I’d do differently next time.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3" role="complementary">
        <div>
            <h2>Latest Released Article</h2>
            <h4><a href="#">Latest Article 1</a></h4>
            <h4><a href="#">Latest Article 2</a></h4>
            <h4><a href="#">Latest Article 3</a></h4>
            <h4><a href="#">Latest Article 4</a></h4>
            <h4><a href="#">Latest Article 5</a></h4>
            <h4><a href="#">Latest Article 6</a></h4>
            <h4><a href="#">Latest Article 7</a></h4>
            <h4><a href="#">Latest Article 8</a></h4>
            <h4><a href="#">Latest Article 9</a></h4>
            <h4><a href="#">Latest Article 10</a></h4>
        </div>
        </div>
    </div>
</div>
</body>
</html>